@import url("./Fonts/IranYekan_EnNum/Css/IranYekan_En.css") ;
@import url("./Fonts/IranYekan_FaNum/Css/IranYekan_Fa.css") ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
    font-family: "IranYekan_En";
}
